{% extends "layout.html" %} {% block content %}
<div class="flex items-center">
    <h1 class="text-lg font-semibold md:text-2xl">IP Adressen</h1>
    <div class="flex gap-2 ml-auto">
        <a href="/ip/add"
            class="inline-flex items-center justify-center px-3 text-sm font-medium transition-colors bg-gray-700 rounded-md whitespace-nowrap ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 -foreground hover:/90 h-9">
            IP Hinzufügen
        </a>
        <a href="/ip/trashcan/list"
            class="inline-flex items-center justify-center px-3 text-sm font-medium transition-colors bg-gray-700 rounded-md whitespace-nowrap ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 -foreground hover:/90 h-9">
            Papierkorb
        </a>
    </div>
</div>
<div class="flex items-center justify-between mb-4">
    <div class="relative flex items-center gap-2">
        <button id="filterBtn"
            class="flex items-center gap-2 px-3 py-2 text-sm font-medium text-white transition-colors bg-gray-700 border rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white hover:bg-gray-600">
            <span class="material-symbols-outlined">filter_alt</span>
            <span>Filter</span>
        </button>
        <div id="filterDropdown"
            class="absolute z-50 hidden w-64 p-4 mt-2 space-y-3 text-white bg-gray-800 divide-y divide-gray-600 rounded-lg shadow-lg top-full sm:w-80">
            <form action="{{ url_for('atlas.filter') }}" method="GET" class="space-y-3">
                <div class="space-y-1">
                    <label for="nameInput" class="block text-sm font-semibold">Name</label>
                    <input type="text" id="nameInput" name="name" value="{{ request.args.get('name', '') }}"
                        class="w-full p-2 text-sm text-white bg-gray-700 rounded-md shadow-sm focus:ring-2 focus:ring-blue-500 focus:border-transparent" />
                </div>
                <div class="space-y-1">
                    <label for="ipInput1" class="block text-sm font-semibold">IP Addresse</label>
                    <div class="flex items-center gap-2">
                        <input type="text" id="ipInput1" name="ipocted1" maxlength="3"
                            class="w-1/4 p-2 text-sm text-white bg-gray-700 rounded-md shadow-sm focus:ring-2 focus:ring-blue-500 focus:border-transparent ip-input" />
                        <span>.</span>
                        <input type="text" id="ipInput2" name="ipocted2" maxlength="3"
                            class="w-1/4 p-2 text-sm text-white bg-gray-700 rounded-md shadow-sm focus:ring-2 focus:ring-blue-500 focus:border-transparent ip-input" />
                        <span>.</span>
                        <input type="text" id="ipInput3" name="ipocted3" maxlength="3"
                            class="w-1/4 p-2 text-sm text-white bg-gray-700 rounded-md shadow-sm focus:ring-2 focus:ring-blue-500 focus:border-transparent ip-input" />
                        <span>.</span>
                        <input type="text" id="ipInput4" name="ipocted4" maxlength="3"
                            class="w-1/4 p-2 text-sm text-white bg-gray-700 rounded-md shadow-sm focus:ring-2 focus:ring-blue-500 focus:border-transparent ip-input" />
                    </div>
                </div>
                <div class="flex gap-2">
                    <div class="w-1/2">
                        <div class="space-y-1">
                            <label for="tagsInput" class="block text-sm font-semibold">Tags</label>
                            <input type="text" id="tagsInput" name="tags" value="{{ request.args.get('tags', '') }}"
                                class="w-full p-2 text-sm text-white bg-gray-700 rounded-md shadow-sm focus:ring-2 focus:ring-blue-500 focus:border-transparent" />
                        </div>
                    </div>
                    <div class="w-1/2">
                        <div class="space-y-1">
                            <label for="portsInput" class="block text-sm font-semibold">Ports</label>
                            <input type="text" id="portsInput" name="ports" value="{{ request.args.get('ports', '') }}"
                                class="w-full p-2 text-sm text-white bg-gray-700 rounded-md shadow-sm focus:ring-2 focus:ring-blue-500 focus:border-transparent" />
                        </div>
                    </div>
                </div>
                <div class="flex justify-between mt-4 space-x-4">
                    <button id="clearFilters" type="button"
                        class="flex items-center justify-center w-24 px-2 py-1 text-sm text-gray-300 border border-gray-600 rounded-md shadow-sm hover:bg-gray-700 focus:ring-2 focus:ring-gray-500 focus:ring-offset-2 focus:border-transparent">
                        Clear
                    </button>
                    <button type="submit"
                        class="w-1/2 px-4 py-2 text-gray-300 bg-gray-900 rounded-md shadow-sm hover:bg-gray-700 focus:ring-2 focus:ring-gray-500 focus:ring-offset-2 focus:border-transparent">
                        Apply
                    </button>
                </div>
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#filterBtn").click(function () {
                $("#filterDropdown").stop().slideToggle(300);
            });

            $(document).click(function (event) {
                if (!$(event.target).closest("#filterBtn, #filterDropdown").length) {
                    $("#filterDropdown").stop().slideUp(300);
                }
            });

            $("#clearFilters").click(function () {
                $(
                    "#nameInput, #ipInput1, #ipInput2, #ipInput3, #ipInput4, #tagsInput, #portsInput"
                ).val("");
            });

            $(".ip-input").on("input", function () {
                var ipValue = $(this).val();
                if (ipValue.length === 3) {
                    $(this).nextAll(".ip-input:first").focus();
                }
            });

            $(".ip-input").on("keydown", function (e) {
                if (e.which === 8 && $(this).val().length === 0) {
                    $(this).prevAll(".ip-input:first").focus();
                }
            });
        });
    </script>

    <div class="flex gap-2">
    </div>
</div>
{% if data and data.hosts %}
<div class="border rounded-lg shadow-sm">
    <div class="relative w-full overflow-auto">
        <table class="w-full text-sm caption-bottom">
            <thead>
                <tr class="border-b">
                    <th class="hidden h-12 px-4 font-medium text-left align-middle md:table-cell">
                        Name
                    </th>
                    <th class="h-12 px-4 font-medium text-left align-middle ">
                        IP Adresse
                    </th>
                    <th class="h-12 px-4 font-medium text-left align-middle ">
                        Ports in der FBox
                    </th>
                    <th class="h-12 px-4 font-medium text-left align-middle ">
                        Tags
                    </th>
                    <th class="h-12 px-4 text-left align-middle font-medium  max-w-[150px]">
                        Status
                    </th>
                    <th class="h-12 px-4 font-medium text-center align-middle ">
                        Aktionen
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for host in data.hosts %}
                <tr data-id="{{ host.id }}"
                    class="transition duration-150 ease-in-out border-b hover:bg-gray-700 hover:bg-opacity-25">
                    <td class="hidden p-4 align-middle edit-field md:table-cell">{{ host.name }}</td>
                    <td class="p-4 font-medium align-middle edit-field">{{ host.ip }}</td>
                    <td class="p-4 align-middle edit-field">{{ host.ports|join(", ") }}</td>
                    <td class="p-4 align-middle edit-field">
                        {% if host.tags %}
                        {{ host.tags|join(", ") }}
                        {% else %}
                        Keine Tags
                        {% endif %}
                    </td>
                    <td class="p-4 align-middle ip-ping-status" data-ip="{{ host.ip }}">
                        <i class="text-green-500 material-symbols-outlined" style="font-size:24px;">check_circle</i>
                        <!-- {% if host.pingable %}
                          <i class="text-green-500 material-symbols-outlined" style="font-size:24px;">check_circle</i>
                          {% else %}
                          <i class="text-red-500 material-symbols-outlined" style="font-size:24px;">cancel</i>
                          {% endif %} -->
                    </td>
                    <td class="p-4 text-center align-middle">
                        <button
                            class="inline-flex items-center justify-center px-3 text-sm font-medium transition-colors bg-gray-700 rounded-md edit edit-btn whitespace-nowrap ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-gray-500 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-gray-800 h-9"
                            onclick="makeEditable(this)">
                            <span class="material-symbols-outlined">edit</span>
                        </button>
                        <button
                            class="inline-flex items-center justify-center px-3 ml-2 text-sm font-medium transition-colors bg-red-600 rounded-md delete whitespace-nowrap ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-red-500 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-red-700 h-9"
                            data-id="{{ host.id }}" onclick="deleteItem(this)">
                            <span class="material-symbols-outlined">delete</span>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<style>
    .edit-field {
        max-width: 120px !important;
        /* Example max-width, adjust based on your layout */
        overflow: hidden !important;
        white-space: nowrap !important;
        text-overflow: ellipsis !important;
    }

    .input-field {
        max-width: 100% !important;
        /* Ensure input fields do not exceed cell width */
    }
</style>

<script>
    $(document).ready(function () {
        window.makeEditable = function (button) {
            var $row = $(button).closest('tr');
            // Store current data for possible revert
            $row.find('.edit-field').each(function () {
                var content = $(this).text().trim();
                $(this).data('original-content', content); // Store original content
                $(this).html(`<input type="text" class="input-field form-control" value="${content}" />`);
            });

            // Update edit button to submit
            updateButtonToSubmit(button);

            // Change delete button to discard
            var $deleteButton = $row.find('.delete');
            $deleteButton
                .removeClass('bg-red-600 hover:bg-red-700')
                .addClass('bg-gray-600 hover:bg-gray-700')
                .html('<span class="material-symbols-outlined">undo</span>') // Use 'undo' or any appropriate icon
                .attr('onclick', 'discardChanges(this)')
                .addClass('discard').removeClass('delete'); // Update class to differentiate
        };

        window.discardChanges = function (button) {
            var $row = $(button).closest('tr');
            // Revert data in inputs to original content
            $row.find('.edit-field').each(function () {
                var originalContent = $(this).data('original-content');
                $(this).html(originalContent);
            });

            // Change discard button back to delete
            revertButtonToDelete(button);

            // Revert submit button back to edit
            var $submitButton = $row.find('.bg-green-500');
            revertButtonToEdit($submitButton[0]);
        };

        function updateButtonToSubmit(button) {
            $(button).html('<span class="material-symbols-outlined">check_circle</span>')
                .removeClass('bg-gray-700 hover:bg-gray-800')
                .addClass('bg-green-500')
                .attr('onclick', 'submitChanges(this)');
        }

        function revertButtonToDelete(button) {
            $(button)
                .removeClass('bg-blue-600 hover:bg-blue-700')
                .addClass('bg-red-600 hover:bg-red-700')
                .html('<span class="material-symbols-outlined">delete</span>')
                .attr('onclick', 'deleteItem(this)')
                .addClass('delete').removeClass('discard'); // Revert class back to delete
        }

        function revertButtonToEdit(button) {
            $(button).html('<span class="material-symbols-outlined">edit</span>')
                .removeClass('bg-green-500')
                .addClass('bg-gray-700 hover:bg-gray-800')
                .attr('onclick', 'makeEditable(this)');
        }

        // Simplify AJAX submission logic
        window.submitChanges = function (button) {
            var $row = $(button).closest('tr');
            var id = $row.data('id');
            var updatedData = gatherUpdatedData($row);

            // AJAX request simplified
            $.ajax({
                url: `/ip/update/${id}`,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(updatedData),
                success: function (response) {
                    console.log('Update successful', response);
                    location.reload(); // Reload to see the updated values
                },
                error: function (error) {
                    console.log('Update failed', error);
                }
            });
        };

        function gatherUpdatedData($row) {
            return {
                name: $row.find('td:eq(0) input').val(),
                ip: $row.find('td:eq(1) input').val(),
                ports: $row.find('td:eq(2) input').val().split(',').map(item => parseInt(item.trim(), 10)),
                tags: $row.find('td:eq(3) input').val().split(',').map(item => item.trim())
            };
        }

        window.deleteItem = function (button) {
            var itemId = $(button).data('id');
            if (confirm('Möchten Sie diesen Eintrag wirklich löschen?')) {
                $.ajax({
                    url: `/ip/delete/${itemId}?confirmed=true`,
                    type: 'GET',
                    success: function (response) {
                        $(button).closest('tr').fadeOut(600, function () {
                            $(this).remove(); // Removethe item row from the table
                            // Optional: Re-fetch the list or adjust UI accordingly
                        });
                    },
                    error: function (error) {
                        alert('Error deleting item. Please try again.');
                        console.error('Deletion error:', error);
                    }
                });
            }
        };
    });
</script>
{% else %}
<p class="text-center text-gray-500">No data available.</p>
{% endif %} {% endblock %}