<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IP-Atlas | P22</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='src/input.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        html {
            scroll-behavior: smooth !important;
            color-scheme: dark !important;
            height: 100% !important;
            overflow: hidden !important;
        }

        [type='text']:focus,
        [type='email']:focus,
        [type='url']:focus,
        [type='password']:focus,
        [type='number']:focus,
        [type='date']:focus,
        [type='datetime-local']:focus,
        [type='month']:focus,
        [type='search']:focus,
        [type='tel']:focus,
        [type='time']:focus,
        [type='week']:focus,
        [multiple]:focus,
        textarea:focus,
        select:focus {
            outline: 0px !important;
            outline-offset: 0px !important;
            box-shadow: none !important;
        }
    </style>
</head>

<body class="font-sans text-white bg-gray-900">
    <div class="grid min-h-screen w-full lg:grid-cols-[280px_1fr]">
        <div class="hidden border-r border-gray-700 bg-900-100/40 lg:block">
            <div class="flex flex-col h-full max-h-screen gap-2">
                <div class="flex h-[60px] items-center border-b px-6">
                    <a class="flex items-center gap-4 text-xl font-bold" href="#">
                        <span class="material-symbols-outlined">bring_your_own_ip</span>
                        <span>IP-Atlas</span>
                    </a>
                    <button
                        class="inline-flex items-center justify-center w-8 h-8 ml-auto text-sm font-medium transition-colors border rounded-md whitespace-nowrap ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border-input bg-background hover:bg-accent hover:text-accent-foreground">
                        <span class="material-symbols-outlined">
                            notifications
                        </span>
                        <span class="sr-only">Toggle notifications</span>
                    </button>
                </div>
                <div class="flex-1 py-2 overflow-auto">
                    <nav class="grid items-start px-4 text-sm font-medium gap-y-2">
                        {% set current_page = request.path %}
                        <a class="flex items-center gap-2 px-3 py-2 transition-all rounded-lg hover:text-gray-100 {% if current_page == url_for('atlas.index') %}bg-gray-700{% endif %}"
                            href="{{ url_for('atlas.index') }}">
                            <span class="text-base leading-none material-symbols-outlined">home</span>
                            <span class="ml-1 text-sm align-middle">Dashboard</span>
                        </a>
                        <a class="flex items-center gap-2 px-3 py-2 transition-all rounded-lg hover:text-gray-100 {% if current_page == url_for('atlas.discovered') %}bg-gray-700{% endif %}"
                            href="{{ url_for('scan.discovered') }}">
                            <span class="text-base leading-none material-symbols-outlined">travel_explore</span>
                            <span class="ml-1 text-sm align-middle">Neue Geräte</span>
                        </a>
                        <a class="flex items-center gap-2 px-3 py-2 transition-all rounded-lg hover:text-gray-100 {% if current_page == url_for('atlas.list') %}bg-gray-700{% endif %}"
                            href="{{ url_for('atlas.list') }}">
                            <span class="text-base leading-none material-symbols-outlined">language</span>
                            <span class="ml-1 text-sm align-middle">IP Adressen</span>
                        </a>
                        <a class="flex items-center gap-2 px-3 py-2 transition-all rounded-lg hover:text-gray-100 {% if current_page == url_for('atlas.port') %}bg-gray-700{% endif %}"
                            href="{{ url_for('atlas.port') }}">
                            <span class="text-base leading-none material-symbols-outlined">power</span>
                            <span class="ml-1 text-sm align-middle">Ports</span>
                        </a>
                        <a class="flex items-center gap-2 px-3 py-2 transition-all rounded-lg hover:text-gray-100 {% if current_page == url_for('atlas.statistic') %}bg-gray-700{% endif %}"
                            href="{{ url_for('atlas.statistic') }}">
                            <span class="text-base leading-none material-symbols-outlined">signal_cellular_alt</span>
                            <span class="ml-1 text-sm align-middle">Statistiken</span>
                        </a>
                    </nav>
                </div>
                <div class="mt-auto">
                    <a class="flex items-center gap-2 px-3 py-2 transition-all rounded-lg hover:text-gray-100 {% if current_page == url_for('settings.config') %}bg-gray-700{% endif %}"
                        href="{{ url_for('settings.config') }}">
                        <span class="text-base leading-none material-symbols-outlined">settings</span>
                        <span class="ml-1 text-sm align-middle">Einstellungen</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="flex flex-col">
            <header class="flex h-14 lg:h-[60px] items-center gap-4 border-b bg-gray-800/40 px-6">
                <a class="lg:hidden" href="#">
                    <span class="material-symbols-outlined">bring_your_own_ip</span>
                    <span class="sr-only">Home</span>
                </a>
                <div class="relative flex items-center w-full rounded-lg shadow-sm md:max-w-xs lg:max-w-sm">
                    <form action="{{ url_for('atlas.search') }}" method="GET"
                        class="flex items-center w-full transition-all duration-300 bg-gray-800 rounded-lg focus-within:ring-2 ">
                        <!-- Search Bar -->
                        <div class="relative w-full">
                            <button type="submit" class="absolute inset-y-0 left-0 flex items-center pl-3">
                                <span class="text-gray-400 material-symbols-outlined">
                                    search
                                </span>
                            </button>
                            <input type="text" id="searchInput" name="q" placeholder="Search IPs..."
                                value="{{ request.args.get('q', '') }}" maxlength="50"
                                class="w-full h-full py-2 pl-10 pr-4 text-white transition-shadow duration-300 bg-transparent bg-gray-800 border-transparent rounded-lg placeholder:text-gray-400">
                        </div>
                        <!-- Dropdown for search type -->
                        <div class="relative ml-[-20px]">
                            <select id="searchType" name="search_type"
                                class="block h-full px-4 py-2 leading-tight text-white bg-gray-800 rounded-lg order-transparent">
                                <option value="ip" {% if request.args.get('search_type', '' )=='ip' %}selected{% endif
                                    %}>
                                    IP Adresse</option>
                                <option value="name" {% if request.args.get('search_type', '' )=='name' %}selected{%
                                    endif %}>Name</option>
                                <option value="port" {% if request.args.get('search_type', '' )=='port' %}selected{%
                                    endif %}>Port</option>
                                <option value="tag" {% if request.args.get('search_type', '' )=='tag' %}selected{% endif
                                    %}>Tag</option>
                            </select>
                        </div>
                        <button type="submit" class="hidden">Search</button>
                    </form>
                </div>
                <div class="ml-auto">
                    <button
                        class="inline-flex items-center justify-center w-8 h-8 text-sm font-medium transition-colors border-gray-800 borderrounded-full whitespace-nowrap ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground"
                        type="button" id="radix-:r1c:" aria-haspopup="menu" aria-expanded="false" data-state="closed">
                        <img src="{{ url_for('static', filename='images/placeholder.png') }}" width="32" height="32"
                            class="rounded-full" alt="Avatar" style="aspect-ratio: 32 / 32; object-fit: cover;" />
                        <span class="sr-only">Toggle user menu</span>
                    </button>
                </div>
            </header>
            <main class="flex flex-col flex-1 max-h-screen gap-4 p-4 overflow-scroll md:gap-8 md:p-6">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>
</body>

</html>